<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Items</title>
         {% load static %}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--{% include 'TradeSite/navbar_header.html' %}-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>



<script type="text/javascript" >

      //alert("hello");
      var enc_addr = {{ addr }}
      <!--var enc_price = {{ url_item_price }}-->
      <!--var enc_item_id = {{ url_item_id }}-->
       alert(enc_addr);
      var decrypted_addr = CryptoJS.AES.decrypt(enc_addr, "1nh15cs018");
      alert(decrypted_addr.toString(CryptoJS.enc.Utf8));


      <!--//alert(item_obj.seller_addr);-->
      <!--//  document.write(<?php echo "hello"; ?>);-->
      <!--// var price = <?php echo "$_SESSION[item_bid]"; ?>;-->
      <!--// // var price = 22;-->
      <!--// var seller_addr = <?php echo "$_SESSION[seller_MyC]"; ?>;-->
      <!--// alert(<?php echo "$_SESSION[seller_MyC]"; ?>);-->
      <!--// var item_id = <?php echo "$_SESSION[item_id]"; ?>;-->
      <!--// // window.location.href = `http://www.gorissen.info/Pierre/maps/googleMapLocation.php?lat=${lat}&lon=${long}&setLatLon=Set`;-->


</script>

</head>
<body>
{% block content %}




  <div class="card-deck" style="...">
    <div class="card text-center">
      <img src="{% static 'images/addr.jpg' %}" height="80px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text">{{ addr }}</p>

</button>
      </div>

    </div>
    <div class="card text-center" >


      <img src="{% static 'images/addr.jpg' %}" height="80px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <p class="card-text">{{ bal }} </p>

</button>
      </div>
    </div>

  </div>

  <br>
      <pre>Item id:{{url_item_id}}</pre>
      <pre>Item price:{{url_item_price}}</pre>
      <pre>Merchant address:{{url_item_addr}}</pre>


{% endblock %}
</body>
</html>